<% layout('layout') -%>

<div class="row show-grid">
    <% for(var i = 0;i < d.length;i++){
        var key = d[i];
        var h = l[i];
    %>
    <div class="col-md-3">
        <h6><%= key %></h6>
        <p class="text-left text-primary">最小.<%=h["min"]%>   最大.<%=h["max"]%>   平均.<%=h["avg"]%> 调用.<%=h["call"]%></p>
        <p id="<%= key.replace(" ","") %>" class="text-left"></p>
    </div>
    <%}%>
</div>
<script>
    var keys = '<%=d%>';
    function charts(){
        $.get("cd",{keys:keys},function(data){
            for(var k in data.l){
                var el = $("#"+ k);
                el.sparkline(data.l[k],{height:50,type: 'bar',barWidth:2.5,'barColor':'#FF6600','tooltipClassname':'tip'})
            }
        })
    }
    charts();
    window.setInterval("charts() ",3000)
</script>
