<% layout('layout') -%>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width:500px; ">5秒一次刷新</th>
            <th>
                平均 <small>ms</small>
            </th>
            <th>
                最小 <small>ms</small>
            </th>
            <th>
                最大 <small>ms</small>
            </th>
            <th>
                调用次数
            </th>
            <th>
                TICK
            </th>

        </tr>
        </thead>
        <tbody>
        <% for(var i = 0;i < d.length;i++){
            var key = d[i];
            var h = l[i];
        %>
        <tr>
            <th><code><%=i+1%></code></code> <%= key %></th>
            <td><%= h['avg']%></td>
            <td><%= h['min'] %></td>
            <td><%= h['max'] %></td>
            <td><%= h['call'] %></td>
            <td><%= h['time'] %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<script>
    window.setInterval(" location.reload() ",5000)
</script>