<% layout('layout') -%>

<style>
    .show-grid {
        margin-bottom: 3px;
    }
    .show-grid [class^="col-"] {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fff;
        border: 1px solid #ccc;
    }
    .col-md-2{
        height:145px;
    }
    .col-md-2 h6{
        height:13px;
        overflow: hidden;
    }

</style>
<div class="row show-grid">
    <% for(var i = 0;i < d.length;i++){
        var key = d[i];
        var h = l[i];
    %>
    <div class="col-md-3">
        <h6><%= key %></h6>
        <p class="text-left text-primary">最小.<%=h["min"]%>   最大.<%=h["max"]%>   平均.<%=h["avg"]%> 调用.<%=h["call"]%></p>
        <p id="<%= key.replace(" ","") %>" class="text-left"></p>
    </div>
    <%}%>
</div>
<script>
   var keys = '<%=d%>';
   function charts(){
       $.get("cd",{keys:keys},function(data){
           for(var k in data.l){
               var el = $("#"+ k);
               try{el.sparkline(data.l[k],{height:30})}
               catch(e){console.log(e)}

           }
       })
   }
   charts();
   window.setInterval(" location.reload() ",5000)
</script>